body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.tabs {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.tablink {
    background-color: #f1f1f1;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none;
}

.tablink:hover {
    background-color: #ddd;
}

.tablink.active {
    background-color: greenyellow;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
.gender {
    background-color: gray;
}
.gender td {
    padding-left: 60px;
    text-align: left;
    font-weight: bold;
    
     
}